.container {
  width: 100%;
  min-height: 90vh;
  padding: 2rem;
  background-color: rgb(95, 98, 101);
}

.title {
  color: RGB(93, 124, 250);
  margin-bottom: 1rem;
}
.status,
.runtime,
.releasedate {
  color: whitesmoke;
}

.desc,
.reviewdesc {
  color: RGB(15, 156, 206);
}
.overview {
  width: 70%;
}

.img {
  /* width: 70%; */
  background-position: center;
  object-fit: cover;
  margin: 1rem 0;
}
